body{
  background-color: rgb(255, 251, 234);
}

.header{
  text-align: center;
  font-weight: bold;
  color: rgb(125, 172, 165);
  font-size: 38px;
  font: "Sans Serif";

}

.links{
  text-align: center;
}

.top{
  position: absolute;
  bottom: 0;
  left: 50px;
}
